/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
}
 /* montserrat-600 - latin */
 @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		  url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
 }
 /* montserrat-700 - latin */
 @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		  url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
}
 /* montserrat-800 - latin */
 @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: local(''),
		  url('../fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
}

*{
	box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;}
ol,ul{list-style:none}
blockquote,q{quotes:none}




html{
	font-family: 'Montserrat', sans-serif;

}

a{
	text-decoration: none;
}



h2{
	font-size: 48px;
	line-height: 59px;
}

h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.container{
	max-width: 1800px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}


.section-padding{
	margin-top: 100px;
}


/* HEADER */

.header{
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 32px 32px;
	}

.container-header{
	padding-top: 14px;
	padding-bottom: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-burger{
	display: none;
}
.header-logo-link{
	display: inline-block;
}
.header__logo{
	margin-right: 553px;
	height: 100%;
}	
.nav{
	margin-right: 260px;
}
.nav__list{
	display: flex;
	align-items: center;
}
.nav__item{ 
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.nav__item:not(:last-child){
	margin-right: 85px;
}


.nav__item--link{
	line-height: 22px;
	text-decoration: none;
	color: inherit;
	transition-duration: .1s;
}
.nav__item--link:hover{
border-bottom: 2px solid #E1670E;
}

.nav__item--link:focus{
	border: 2px solid #E1670E;
}

.nav__item--link:active{
	border-bottom: 2px solid #E1670E;
	color: #E1670E;
}

.header__search{
	display: block;
}

.header__search:hover rect,
.header__search:active rect
{
	fill:#FF9900;
	
}
.header__search:focus rect{
	fill: #000;
}
.header__search:focus path{
	stroke: #000;
}

.header__search:hover path,
.header__search:active path{
	stroke: #FF9900;
}







/*  Баннер */

.slider{
	margin-top: 50px;
}

.slider-content{
	background-image: url(../img/slide1.jpg);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 100px 853px 100px 80px;
	border-radius: 32px;
	color: #fff;
}

.slider-content__heading{
	/* max-width: 837px; */
	font-weight: 800;
	font-size: 70px;
	line-height: 85.33px;
	
}

.slider-content__description{
	margin-top: 24px;
	margin-bottom: 90px;
	letter-spacing: 1.20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29.26px;
	
}


.slider-content__btn{
	display: inline-block;
	padding: 25px 39px;
	border-radius: 16px;
	background-color:#FF9900;
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	color: inherit;
	transition: 0.3s ease 0.1s;

}


.slider-content__btn:hover{
	background-color: #FFB84D;
}

.slider-content__btn:active{
	background-color: #E1670E;
}










/* О нас */

.about{
	margin-top: 50px;
}

.about-description{
	max-width: 1235px;
	letter-spacing: 1px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 32px;
}
			/* Блок с картинкой  */
.about-block{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
}

.about-block__left{
	width:50%;
	margin-right: 32px;
	background-image: url(../img/Rectangle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 32px;
	font-weight: 700;
	font-size: 16px;

}
.about-excerpt{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 426px ;
	padding: 50px;
	background:rgba(0, 0, 0, 0.5);
	border-radius: 32px;
	color: #fff;
}

.about-excerpt__text{
	margin-right: 160px;
	line-height: 32px;
}

			

.about_excerpt__link{
	display: inline-block;
	padding: 19px 38px;
	background: rgba(0, 0, 0, 0.5);
	border: 3px solid #FF9900;
	border-radius: 16px;
	color: inherit;
	transition:all 0.3s ease 0.1s;

}

.about_excerpt__link:hover{
	background-color: #FF9900;
}

.about_excerpt__link:active{
	border-color:#E1670E;
	background-color: #E1670E;
}


/* Конец блока с картинкой */


.about-block__item{
	display: flex;
	border: 1px solid #CACACA;
	border-radius: 32px;
	padding-top:65px;
	padding-left: 60px;
	padding-bottom: 65px;
	padding-right: 118px;
}

.about-block__item:not(:last-child){
	margin-bottom: 32px;
}

.about-block__img--square{
	background-image: url(../img/square.png);
}

.about-block__img--circle{
	background-image: url(../img/circle.png);
}

.about-block__img{
	/* display: inline-block; */
	margin-right: 50px; 
	width: 195px;
	height: 165px;
	background-size:100% 100%; 
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center; 
}

.about-block__blocks{
	max-width: 450px;
}
.about-block__title{
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.about-block__text{
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}


/* Как мы работаем */

.mywork{
	margin-bottom: 111px;
}

.mywork__list{
	display: flex;
	margin-top: 50px;
	margin-bottom: 45px;
}

.mywork__item{
	font-size: 18px;
	line-height: 22px;

}

.mywork__item--link{
	color:#E1670E ;
}

.mywork__item:not(:last-child){
	margin-right: 85px;
}
.mywork__link{
	color: inherit;
}
.mywork__item:hover,
.mywork__item:active{
	color: #FF9900;
}

.mywork__item:focus{
	color: #000;
	border: 2px solid #FF9900;
}

.mywork-block{
	display: flex;		
}

.mywork-block__left{
	max-width: 758px;
	margin-right: 142px;
	
}

.mywork-title{
	margin-bottom: 8px;
}

.mywork-description{
	font-size: 16px;
	line-height: 32px;
}

.mywork-link{
	margin-top: 18px;
}

.mywork-link__style{
	font-size: 16px;
	line-height: 20px;
	border-radius: 16px;
}


.mywork-more{
	display: inline-block;
	padding: 19px 38px;
	margin-right: 32px;
	font-weight: 700;
	background-color: #FF9900;
	color: #fff;
}

.mywork-more:hover{
	background-color: #FFB84D;
}

.mywork-more:active{
	background-color: #E1670E;
}
.mywork-contract{
	display: inline-block;
	color: #000;
	border: 1px solid #000;
	padding: 18px 37px;
	transition: 1s;
}

.mywork-contract:hover,
.mywork-contract:focus{
	background: #666666;
	color: #fff;
}

.mywork-contract:active{
	background: #000;
	color: #fff;
}


.mywork-block__right{
	background-image: url('../img/Work.jpg');
	width: 870px;
	max-height:460px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	border-radius: 32px;
}


/* WHAT */

.what-heading{
	margin-bottom: 32px;
}
.what-item{
	border-top:1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
}

.what-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;	
	color: #000;
}


.what-text{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.what-item:hover path,
.what-item:focus path
{	
	fill: #fff;
}
.what-item:hover ellipse ,
.what-item:focus ellipse 
{	
	fill:#FF9900;
}

.what-item:hover ,
.what-item:focus {
	color: #FF9900;
	border-color: #FF9900;
}

.what-item:active svg{
	transform: rotate(45deg);
}

.what-item:active path
{	
	fill: black;
}
.what-item:active ellipse
{	
	fill:#CACACA;
}

.what-item:active {
	color: black;
	border-color: black;
}








/* Footer */
.footer{
	background-color: #000;
	color: #CACACA;
}
.footer-block{
	display: flex;
	justify-content: space-between;
	flex: 1 1 0.33%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.footer-left{
	margin-right: 349px;
}

.footer-logo{
	margin-bottom: 20px;
}
.footer-list{
	margin-bottom: 90px;
}
.footer__item{
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}
.footer-item__link{
	color: inherit;	
}

.footer-item__link:hover
{
	color:#FF9900;
}

.footer-item__link:focus{
	border: 1px solid #CACACA;
}

.footer-item__link:active{
	color:#E1670E;
}

.footer-icon__img--ok{
	margin-right: 25px
}

.footer-icon__link path{
	transition: .3s;
}

.footer-icon__link:hover path{
	fill:#FF9900;
}

.footer-icon__link:active path{
	fill:#E1670E;
}











.footer-center{
	margin-right: 236px;
	width: 570px;
}

.footer-titel{
	margin-bottom: 25px;
}

.footer-form__input{
	margin-bottom: 25px;
	padding-left: 24px;
	background-color: #414141;
	border-radius: 16px;
	height: 60px;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

.footer-form__input{
	display: block;
	width: 100%;
	transition: 0.3s;
	color: #CACACA;
}

.footer-form__input:hover{
	background: #666666;
}


.footer-form__input--text{
	resize: none;
	height: 150px
}

.form-submit{
	display: block;
	margin: 2em auto;
	padding: 19px 52px;
	border-radius: 16px;
	background-color: #FF9900;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	transition: 0.5s;
}

.form-submit:hover,
.form-submit:focus{
	background-color: #FFB84D;
}

.form-submit:active{
	background-color: #E1670E;
}



.footer-right{
	width: 363px;
	margin: auto 0px;
	font-size: 16px;
	line-height: 32px;
}


/* Конец макета pixel perfect */


@media(max-width:1920px){
	.header__logo{
		margin-right: 20px;
	}
	.nav{
		margin-right: 20px;
	}
	.slider-content{
		padding-right: 400px;
	}
	.about-block__left{
		position: relative;
	}
	.about-excerpt{
		position: absolute;
		bottom: 0;
	}
	.about-excerpt__text{
		margin-right: 30px;
	}
	
	.about-block__right{
		max-width: 50%;
	}
	.footer-left{
		margin-right: 20px;
	}
	.footer-center{
		margin-right: 20px;
	}
}

@media(max-width:1366px){
	
	.slider-content{
		padding-right: 200px;
	}
	.about-block__item{
		padding-right: 60px;
	}
	.mywork-block__left {
		margin-right: 60px;
  }
	.mywork-block__right{
		min-width: 436px;
	}

	.mywork-description {
		line-height: 24px;	
} 
}


@media(max-width:1024px){	
	.header__logo{
		margin-right: 0;
	}
	.container{
		padding-left: 50px;
		padding-right: 50px;
	}
	.nav{
		display: none;
	}
	.nav-burger{
		display: inline-block;
	}
	.slider{
		margin-top:40px;
	}
	.slider-content{
		padding: 160px 40px;
	}
	.slider-content__heading{
		font-size: 50px;
		line-height: 61px;
	}
	.slider-content__description{
		margin-top: 16px;
		margin-bottom: 60px;
		font-size: 18px;
		line-height: 22px;
	}
	.about-block{
		flex-direction: column;
		margin-top: 60px;
	}	
	.about-block__left{
		width: 100%;
		height: 640px;
		margin-right: 0;
		margin-bottom: 32px;
	}
	.about-block__right{
		max-width: 100%;
	}
	.mywork-block__left
	{
		max-width: 50%;
		margin-right: 50px ;
	}
	.mywork-link{
		margin-top: 25px;
	}
	.mywork-block__right{
		max-width: 50%;
		max-height: 689px;
		margin-top: 16px;
	}
	.footer-block{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer-left{
		margin-right: 132px;
		white-space: nowrap;
	}
	.footer-center{
		margin-right: 0;
	}
	.footer-right{
		display: none;
	}
}
@media(max-width:924px){
	.mywork-block__left{
		margin-right: 30px;
	}
	.mywork-more{
		margin-right: 16px;
	}
	.mywork-block__right{
		min-width: 45%;
	}
}
@media(max-width:768px){
	.about-excerpt__text{
		margin-right: 47px;
	}
	.about-block__img{
		width: 114px;
		height: 99px;
	}
	.mywork__list{
		justify-content: space-between;

	}

	.mywork-block{
		flex-direction: column-reverse;
	}
	
	.mywork-block__left{
		margin-top: 3em;
		max-width: 100%;
		margin-right: 0;
	}

	.mywork-block__right{
		height: 284px;
		max-width: 100%;
		margin-top: 50px;
	}

	.footer-list{
		display: none;
	}
	.footer-block{
		flex-direction: column-reverse;
	}
	.footer-right{
		margin-top: 50px;
	}
	.footer-center{
		width: 100%;
	}
}
@media(max-width:650px){
	
	
	h2{
		font-size: 24px;
		line-height: 28px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
  }
  .header__logo{
	width: 131px;
	height: 42px;
	}
	.slider-content__heading {
		font-size: 32px;
		line-height: 36px;
  }
  .slider-content__btn {
	padding: 16px 24px;
	font-size: 16px;
	line-height: 24px;
}
	.mywork__item:not(:last-child) {
		margin-right: 50px;
  }
  .mywork-more{
	padding: 16px 24px;
  }

  .mywork-contract{
	padding: 16px 32px;
  }
	.about-block__left{
		background-position: top;
		width: 100%;
	}
	.about-excerpt{
		flex-direction: column;
		padding: 30px;
	}
	.about-excerpt__text{
		margin-right: 0;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 28px;
	}
	.about-block__item{
		flex-direction: column;
	}

	.about-block__img{
		margin-bottom: 30px;
	}

	.about-block__item {
		padding-top: 35px;
		padding-left: 30px;
		padding-bottom: 35px;
		padding-right: 45px;
  }
	
	.what-text {
		font-size: 14px;
		line-height: 24px;
  }
}
@media(max-width:320px){
	h2{
		font-size: 24px;
		line-height: 29px;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.header__logo{
		width: 131px;
		height: 42px;
	}
	.slider-content{
		text-align: center;
		padding: 60px 21px;
	}
	.slider-content__heading{
		font-size: 20px;
		line-height: 24px;
	}
	.slider-content__description{
		font-size: 12px;
		line-height: 15px;	
	}
	.slider-content__btn{
		font-size: 12px;
		line-height: 15px;
	}
	.about-description{
		font-size: 14px;
		line-height: 200%;
	}
	.about-block{
		margin-top: 14px;
	}
	.about-block__left{
		height: 200px;
		margin-bottom: 0;
	}

	.about-excerpt{
		margin-right: 0;
		padding: 0;
		position: relative;
		top: 208px;
		flex-direction: column;
		margin-top: 0;
		background: none;
		color: #000;
		font-size: 14px;
		line-height: 28px;
	}

	.about-excerpt__text{
		margin-right: 0;
	}
	.about_excerpt__link{
		max-width: 162px;
		text-align: center;
		border: 2px solid #FF9900;
		border-radius: 8px;
		background: none;
		color: #FF9900;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		margin: 12px 0;
	}

	.about-block__right{
		position: relative;
		top: 220px;
	}

	.about-block__item{
		flex-direction: column;
		padding: 0;
		border: 0;
	}

	.about-block__img{
		margin-right: 0px;
		width: 64px;
		height: 49px;
	}

	.mywork{
		margin: 0;
		position: relative;
		top: 321px;
	}
	.mywork__list {
		margin-top: 20px;
		margin-bottom: 16px
	}
	.mywork__item{
		font-size: 14px;
		line-height: 17px;
	}
	.mywork__item:not(:last-child) {
		margin-right: 44px;
  }

  .mywork-block__right {
	height: 160px;
	max-width: 290px;
	margin-top: 0;
	}
	.mywork-block__left{
		margin-top: 16px;
	}

	h3{
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	}

	.mywork-description {
		font-size: 14px;
		line-height: 28px;
	}

	.mywork-more{
		margin-right: 10px;
	}
	.mywork-link__style {
		font-size: 12px;
		line-height: 15px;
		border-radius: 8px;
	}
	.section-what{
		position: relative;
		top:362px;
	} 
	.what-link svg{
		width: 30px;
		height: 30px;
	}
	.what-text{
		font-size: 14px;
		line-height: 24px;
	}

	.footer{
		position: relative;
		top:300px;
	}

	.footer-block {
		padding-top: 31px;
		padding-bottom: 33px;
	}

	.footer-logo{
		width: 131px;
		height: 42px;
	}

	.footer-center{
		width: 290px;
	}
	.footer-form__input{
		font-size: 14px;
	}
	.form-submit{
		padding:12px 28px;
		font-size: 12px;
		line-height: 15px;
	}
	.footer-left{
		margin-right: 0;
		padding-top:16px;
		border-top: 1px solid #414141;
		text-align: center;
	}

	.footer-icon__link svg{
		width: 40px;
		height: 40px;
	}

	.footer-icon__img--ok{
		margin-right: 16px;
	}
}